<div id="tabs">
	<ul>
		<li>
			<div class="tab">FEATURED FLASK</div>
			<div class="tab_content" id="fragment-1" style="display:none;width:300px;">
				<p class="bold" style="float:left; width:200px;">64 oz Copper Brown Growler</p>
				<p style="float:left; width:200px; text-align:justify;">A direct response to customer demand, the Copper Brown Growler is the newest color addition to the Hydro Flask lineup.</p>
				<p class="link" style="float:left; width:200px;"><a href="/products/1">Shop this flask >></a></p>
				<%= image_tag "products/64oz/cropped/small/64oz-Copper-Brown.png", alt: "64 oz Copper Brown Growler", title: "64 oz Copper Brown Growler", style: "margin-left:10px;width:90px;" %>
			</div>
		</li>
		<li>
			<div class="tab">5% BACK</div>
			<div class="tab_content" id="fragment-2" style="display:none;width:300px;">
				<div class="center" id="fiveback_div">
					<%= image_tag "five-back-new.png", alt: "Five Percent Back", title: "Five Percent Back" %>
				</div>
				<hr class="dividing_line">
				<p>The charitable arm of Hydro Flask, 5% Back empowers you, the customer, to allocate a portion of the sale of each flask to a charity YOU choose.</p>
				<p class="link"><a href="/pages/5-back">Learn more >></a></p>
			</div>
		</li>
		<li>
			<div class="tab">FIND A STORE</div>
			<div class="tab_content" id="fragment-3" style="display:none;height:100px;width:300px">
				<p>Enter your zip code below to find a store near you.</p>
				<%= form_tag "/stores", method: "get" do %>
				<div class="form-row" style="height:50px;float:left;width:100%;text-align:center;">
					<input type="text" name="location" id="location" placeholder="Enter zip code" /><input type="image" src="<%= asset_path "submit_button.png" %>" />
				</div>
				<% end %>
			</div>
		</li>
	</ul>
	<!--<div id="fragment-1">
		<hr class="dividing_line">
		<p class="bold">24 oz. Narrow Mouth</p>
		<p>Consectetur adipising elit. Donec eleithend tincidunt malesuada. Nullam sit amet quarn est.</p>
		<p class="link"><a href="#">Shop this flask >></a></p>
	</div>
	<div id="fragment-2">
		<div class="center" id="fiveback_div">
			<%= image_tag "five-back-new.png", alt: "Five Percent Back", title: "Five Percent Back" %>
		</div>
		<hr class="dividing_line">
		<p>Consectetur adipising elit. Donec eleithend tincidunt malesuada. Nullam sit amet quarn est.</p>
		<p class="link"><a href="/pages/5-back">Learn more >></a></p>
	</div>
	<div id="fragment-3">
		<%= form_tag "/stores", method: "get" do %>
			<div class="form-row">
				<input type="text" name="location" id="location" placeholder="Enter zip code" /><input type="image" src="<%= asset_path "submit_button.png" %>" />
			</div>
		<% end %>
		<h2 id="hydroflask_stories">HYDRO FLASK STORIES</h2>
		<div class="left" id="hydroflask_stories_div">
			<p class="alt_color left">Where has your flask taken you?</p>
			<%= image_tag "share_button.png", class: "right", alt: "Share", title: "Share" %>
		</div>
	</div>-->
</div>