<% provide(:meta_title, "Stainless Steel Vacuum Insulated Water Bottles") %>
<% provide(:meta_description, "Hydro Flask makes double wall vacuum insulated stainless steel water bottles backed by a lifetime warranty.") %>
<% provide(:meta_keywords, "hydro flask, hydroflask, water bottles, stainless steel water bottles, insulated water bottles, bpa free water bottle, double walled water bottle, double wall bottle, coffee mug, insulated coffee mug, insulated tea mug, tea mug, insulated beer growler, beer growler") %>
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "scriptaculous" %>
<%= javascript_include_tag "effects" %>
<%= javascript_include_tag "swiper" %>
<%= javascript_include_tag "slider" %>
<script>

  document.observe("dom:loaded", function() {
    var slideImg0 = new Image();
        slideImg0.onload = function(){ homeSlide.imageLoading(); };
        slideImg0.src = '<%= asset_path "carousel/hiking.jpg" %>';
    var slideImg1 = new Image();
        slideImg1.onload = function(){ homeSlide.imageLoading(); };
        slideImg1.src = '<%= asset_path "carousel/lake_drinker.jpg" %>';
    var slideImg2 = new Image();
        slideImg2.onload = function(){ homeSlide.imageLoading(); };
        slideImg2.src = '<%= asset_path "carousel/golf_sunset.jpg" %>';
    var slideImg3 = new Image();
        slideImg3.onload = function(){ homeSlide.imageLoading(); };
        slideImg3.src = '<%= asset_path "carousel/bridge_zoom.jpg" %>';
    var slideImg4 = new Image();
        slideImg4.onload = function(){ homeSlide.imageLoading(); };
        slideImg4.src = '<%= asset_path "carousel/yoga.jpg" %>';
  
  if(homeSlide.version == 'touch') {
    homeSlide.touch.init();
  } else {
  	homeSlide.desktop.init();
 	}
});

	homeSlide.totalSlides = 5; 
  homeSlide.winWidth =  document.viewport.getWidth();
  
  if(screen.width < 560){
    var imgParam = '&wid=650'
  } else 
   if(homeSlide.winWidth < 1024){
    var imgParam = '&wid=1152'
  } else 
   if(homeSlide.winWidth < 1280){
    var imgParam = '&wid=1280'
  } else {
    var imgParam = '&wid=1280'
  }
    
  var slides = new Array();
  
  slides[0] = {
    html: '<div class="homeslidediv" style=""><img src="<%= asset_path "carousel/hiking.jpg" %>" alt="" title="" class="homeslideimg" id="homeslideimg13" /></div>'
    //caption: '<img src="/assets/home-bottle-overlay.png" alt="Hot 12 hours, Cold 24" style="height:400px;">'
  }

  slides[1] = {
    html: '<div class="homeslidediv" style=""><img src="<%= asset_path "carousel/lake_drinker.jpg" %>" alt="" title="" class="homeslideimg" id="homeslideimg15" /></div>'
    //caption: '<img src="/assets/home-bottle-overlay.png" alt="Hot 12 hours, Cold 24" style="height:400px;">'
  }
  
  slides[2] = {
    html: '<div class="homeslidediv" style=""><img src="<%= asset_path "carousel/golf_sunset.jpg" %>" alt="" title="" class="homeslideimg" id="homeslideimg1" /></div>'
    //caption: '<img src="/assets/home-bottle-overlay.png" alt="Hot 12 hours, Cold 24" style="height:400px;">'
  }

  slides[3] = {
    html: '<div class="homeslidediv" style=""><img src="<%= asset_path "carousel/bridge_zoom.jpg" %>" alt="" title="" class="homeslideimg" id="homeslideimg6" /></div>'
    //caption: '<img src="/assets/home-bottle-overlay.png" alt="Hot 12 hours, Cold 24" style="height:400px;">'
  }

  slides[4] = {
    html: '<div class="homeslidediv" style=""><img src="<%= asset_path "carousel/yoga.jpg" %>" alt="" title="" class="homeslideimg" id="homeslideimg4" /></div>'
    //caption: '<img src="/assets/home-bottle-overlay.png" alt="Hot 12 hours, Cold 24" style="height:400px;">'
  }

</script>
<div id="homeslideposition">
	<div id="homeslidenavouter">
		<div id="homeslidenav">
			<img src="<%= asset_path "arrow_left.png" %>" class="navarrow" id="navarrowleft" onclick="homeSlide.prevNext(-1);"/>
			<img src="<%= asset_path "arrow_right.png" %>" class="navarrow" id="navarrowright" onclick="homeSlide.prevNext(1);" />
			<ul id="homeslidenavlinks">
				<% (0..4).each do |i| %>
				<li>
					<img src="<%= asset_path "clear.gif" %>" class="navlink active" id="navlink<%= i %>" onclick="homeSlide.slideToPage(<%= i %>);" alt="" title="" />
				</li>
				<% end %>
			</ul>
      <!--<div id="photoposition">
        <div class="photoCredits" id="homephotocredits" style="display: none;" onmouseover="homeSlide.pause();">
          <img class="infoicon" src="<%= asset_path "clear.gif" %>" />
          <div class="photoContent" id="homephotocaption" onmouseout="homeSlide.restart();">
            <div class="photoBy"></div>
          </div>
        </div>
      </div>-->
		</div>
	</div>
	<div id="homeslidewrapper" style="width: 100%;">
		<div id="homeslidebox">
			<div class="homeslide" id="homeslideB">
				<div class="homeslidediv" style="">
				  <img src="<%= asset_path "carousel/hiking.jpg" %>" alt="Hydro Flask Hiker" title="Hydro Flask Hiker" class="homeslideimg" id="homeslideimg0" />
				</div>
			</div>
		</div>
	</div>
  <%= render partial:"home_content" %>
</div>