<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @store.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @store.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @store.city %>
</p>

<p>
  <b>State:</b>
  <%= @store.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @store.zip %>
</p>

<p>
  <b>Country:</b>
  <%= @store.country %>
</p>

<p>
  <b>Phone:</b>
  <%= @store.phone %>
</p>

<p>
  <b>Lat:</b>
  <%= @store.lat %>
</p>

<p>
  <b>Lng:</b>
  <%= @store.lng %>
</p>


<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
