<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @option.product_id %>
</p>

<p>
  <b>Name:</b>
  <%= @option.name %>
</p>

<p>
  <b>Order num:</b>
  <%= @option.order_num %>
</p>


<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
