<%= form_for(@order, url: {action: "confirm"}, html: {method: 'post'}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% clean_error_messages(@order.errors.full_messages).each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% 
    elsif @custom_error.present? %>
        <div id="error_explanation">
      <h2><%= @custom_error %></h2>
       </div>
  <% end %>
  <% if flash[:payment_failure].present? %>
    <div id="error_explanation">
      <ul>
        <li>Your credit card transaction was declined, please try again with another card.</li>
      </ul>
    </div>
  <% end %>
  <div class="form_section_wrapper">
    <h2>Shipping Info</h2>
    <div class="field left_half">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
    </div>
    <div class="field right_half">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>
    <div class="field">
      <%= f.label :address %><br />
      <%= f.text_field :address, class: 'long' %>
    </div>
    <div class="field">
      <%= f.label :address2 %><br />
      <%= f.text_field :address2, class: 'long' %>
    </div>
    <div class="field left_half city">
      <%= f.label :city %><br />
      <%= f.text_field :city %>
    </div>
    <div class="field quarter state">
      <%= f.label :state %><br />
      <%= f.select :state, us_states, class: 'short', include_blank: true %>
    </div>
    <div class="field quarter zip">
      <%= f.label :zip %><br />
      <%= f.text_field :zip %>
    </div>
    <div class="field left_half">
      <%= f.label :phone %><br />
      <%= f.text_field :phone %>
    </div>
    <div class="field right_half">
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </div>
    <% unless current_account %>
      <div class="field">
        <%= f.label :new_account_password, "Password(will create account)" %><br />
        <%= password_field_tag :new_account_password %>
      </div>
    <% end %>
  </div>
  <div class="form_section_wrapper">
    <div style='float: left; width: 150px;'><h2>Billing Info</h2></div>
    <div style='float: left; width: 450px;'>
      <%= check_box_tag 'billing_same_as_shipping' %>
      Same as Shipping Address
    </div>    
    <div id='billing_address_fields'>
      <div class="field">
        <%= f.label :billing_address %><br />
        <%= f.text_field :billing_address, class: 'long' %>
      </div>
      <div class="field">
        <%= f.label :billing_address2 %><br />
        <%= f.text_field :billing_address2, class: 'long' %>
      </div>
      <div class="field left_half city">
        <%= f.label :billing_city %><br />
        <%= f.text_field :billing_city %>
      </div>
      <div class="field quarter state">
        <%= f.label :billing_state %><br />
        <%= f.select(:billing_state, us_states, class: 'short', include_blank: true) %>
      </div>
      <div class="field quarter zip">
        <%= f.label :billing_zip %><br />
        <%= f.text_field :billing_zip %>
      </div>
    </div>
  </div>
  <div class="form_section_wrapper" style="border:none;">
    <div style='float: left; width: 150px;'><h2>Payment Info</h2></div>
    <div class="field credit_card_number">
      <%= f.label :credit_card_number %><br />
      <%= f.text_field :credit_card_number, value: "" %>
    </div>
     <div class="field expdate">
      <div <% if (@order.errors.any? && (@order.cc_expiry_month.blank? || @order.cc_expiry_year.blank?)) %>class="field_with_errors" style="float:none;"<% end %>>
        <%= f.label "Expiration Date" %>
      </div>
      <br />
      <div>
       <%= f.select :cc_expiry_month, Order::MONTHS_FOR_EXPIRY, { include_blank: true }, style: "margin-right: 10px;" %>
      </div>
      <div>
        <%= f.select :cc_expiry_year, Order.years_for_expiry, { include_blank: true } %>
      </div>
    </div>
    <div class="field ccv_number">
      <%= f.label :ccv_number, "Security code" %><br />
      <%= f.text_field :ccv_number, in: 0...9999, size: 4, style: 'width:50px;', value: "" %>
    </div>
    <%= f.hidden_field :shipping_method_id, value: @order.shipping_method_id %>
    <%= f.hidden_field :account_id, value: @order.account_id %>
  </div>
  <div class="actions">
    <%= f.submit 'CONFIRM YOUR ORDER >', class: 'button hydro_big_button'  %>
  </div>
<% end %>