<%= form_for @order, url: {action: "confirm"} do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Shipping Info</h2>
  <div class="field half">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field half">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, class: 'long' %>
  </div>
  <div class="field">
    <%= f.label :address2 %><br />
    <%= f.text_field :address2, class: 'long' %>
  </div>
  <div class="field half">
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </div>
  <div class="field quarter">
    <%= f.label :state %><br />
    <%= f.select :state, us_states, class: 'short' %>
  </div>
  <div class="field quarter">
    <%= f.label :zip %><br />
    <%= f.text_field :zip, class: 'short' %>
  </div>
   <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
   
  <div class='clear'/>
  <br/>
  <hr/>
  <br/>
  
  <div style='float: left; width: 150px;'><h2>Billing Info</h2></div>
  <div style='float: left;'>
    <%= check_box_tag 'billing_same_as_shipping' %>
    Same as Shipping Address
  </div>
  
  <div class="field">
    <%= f.label :billing_address %><br />
    <%= f.text_field :billing_address, class: 'long' %>
  </div>
  <div class="field">
    <%= f.label :billing_address2 %><br />
    <%= f.text_field :billing_address2, class: 'long' %>
  </div>
  <div class="field half">
    <%= f.label :billing_city %><br />
    <%= f.text_field :billing_city %>
  </div>
  <div class="field quarter">
    <%= f.label :billing_state %><br />
    <%= f.select :billing_state, us_states, class: 'short' %>
  </div>
  <div class="field quarter">
    <%= f.label :billing_zip %><br />
    <%= f.text_field :billing_zip, class: 'short' %>
  </div>
   <div class="field ">
    <%= f.label :credit_card_number %><br />
    <%= f.text_field :credit_card_number %>
  </div>
   <div class="field ">
    <%= f.label :exp_date %><br />
    <%= f.text_field :exp_date %>
  </div>
  <div class="field ">
    <%= f.label :ccv_number %><br />
    <%= f.number_field :ccv_number, :in => 0...1000, :size => 3, placeholder: 111 %>
  </div>
  
  <%# values we want set on the Order, but are not input fields %>
  <%= f.hidden_field :shipping_method_id, :value => @order.shipping_method_id%>
  <%= f.hidden_field :account_id, :value => @order.account_id%>
  
  <div class="actions">
    <%= f.submit 'CONFIRM YOUR ORDER »', class: 'button'  %>
  </div>
<% end %>