
<div id="notice"><%= notice %></div>
<div class="confirm_shipping">
  <h2>Shipping Info</h2>
  <p>
    <span class="label">First name:</span>
    <%= @order.first_name %>
    &nbsp; &nbsp; &nbsp; &nbsp; 
    <span class="label">Last name:</span>
    <%= @order.last_name %>
  </p>

  <p>
    <span class="label">Email:</span>
    <%= @order.email %>
  </p>

  <p>
    <span class="label">Address:</span>
    <%= @order.address %>
  </p>
  <% if !@order.address2.empty? %>
  <p>
    <span class="label">Address2:</span>
    <%= @order.address2 %>
  </p>
  <% end %>
  <p>
    <span class="label">City:</span>
    <%= @order.city %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <span class="label">State:</span>
    <%= @order.state %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <span class="label">Zip:</span>
    <%= @order.zip %>
  </p>
</div>
<div class="confirm_billing">
  <h2>Billing Address</h2>
  <p>
    <span class="label">Address:</span>
    <%= @order.billing_address %>
  </p>
  <% if !@order.billing_address2.empty? %>
  <p>
    <span class="label">Address 2:</span>
    <%= @order.billing_address2 %>
  </p>
  <% end %>
  <p>
    <span class="label">City:</span>
    <%= @order.billing_city %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <span class="label">State:</span>
    <%= @order.billing_state %>
    &nbsp; &nbsp; &nbsp; &nbsp;
    <span class="label">Zip:</span>
    <%= @order.billing_zip %>
  </p>
</div>
<div class="confirm_payment">
  <h2>Payment Info</h2>
  <p>
    <span class="label">Card number:</span>
    <%= @order.mostly_hidden_credit_card_number %>
  </p>
  <p>
    <span class="label">Expiration date:</span>
    <%= "#{@order.cc_expiry_month} / #{@order.cc_expiry_year}" %>
    
  </p>
  <p>
    <span class="label">Security Code:</span>
    <%# NOTE: we want this completely X'd out %>
    XXX
    <%#= @order.ccv_number %>
  </p>
</div>