<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.email_field :email, :autofocus => true, placeholder: "youremail@domain.com" %>
  <%= f.password_field :password, placeholder: "your password" %>
  <%= f.submit "Sign in" %>
  <div class="errors">
  	<%= flash[:notice]%>
  	<%= flash[:alert]%>
  </div>
<% end %>

