<%# the resouce references have been defined in application_controller - that's the way it was done when I found it %>
<%# see: https://github.com/plataformatec/devise/wiki/How-To:-Display-a-custom-sign_in-form-anywhere-in-your-app %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	
	<div class="errors">
  	<%= flash[:notice]%>
  	<%= flash[:alert]%>
  </div>
  <div class='clear'></div>
	
	<div id='order_signin_fields' >
	<%= f.label :email %><br />
	<%= f.text_field :email, :autofocus => true, placeholder: "youremail@domain.com" %><br />
  <%#= f.email_field :email, :autofocus => true, placeholder: "youremail@domain.com" %>
	
	<br />
	<%= f.label :password %><br />
	<%= f.password_field :password %><br />
	
	<br />
  <%= f.submit "SIGN IN" %>
	</div>
<% end %>