<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true) do |f| %>
  <%= f.label :email %><br />
	<%= f.text_field :email, :autofocus => true, placeholder: "youremail@domain.com" %><br />
  <%#= f.email_field :email, :autofocus => true, placeholder: "youremail@domain.com" %>
	
	<br />
	<%= f.label :password %><br />
	<%= f.password_field :password %><br />
	
	<br />
  <%= f.submit "SIGN IN" %>
  <div class="errors">
  	<%= flash[:notice]%>
  	<%= flash[:alert]%>
  </div>
<% end %>

