<% total_before_tax = total_price(current_cart.line_items) %>
<% tax = total_tax(total_before_tax, @order.state) %>
<% the_shipping_charge = computed_shipping_charge(@order, total_before_tax) %>

<div>
	<p><span class="label">Subtotal:</span><span class="right"><%= number_to_currency(total_before_tax) %></span></p>
	
	
	<p><span class="label">Shipping - <%= @order.shipping_method %>:</span><span class="right"><%= the_shipping_charge %></span></p>
	
	<p><span class="label">Tax:</span><span class="right"><%= number_to_currency tax %></span></p>
	<p>
		<span class="label">Total:</span>
		<span class="right">
			<%= number_to_currency(total_before_tax + tax + the_shipping_charge) %>
		</span>
  </p>
</div>