<div id="checkout_page">
  <h1>Confirm Your Order</h1>
  
  <div id="cart_panel">
    <h2>Your Cart</h2>
    <%= render partial: 'carts/item', collection: current_cart.line_items %>
  </div>
  
  <div id="form_panel">
    <%# renders the @order fields nicely %>
    <%= render partial: 'orders/print_or_show' %>
    
    <%#= link_to "EDIT ORDER", new_order_path(:the_order_id => @order.id, :sm => @order.shipping_method_id) %>
    
    
    <div id="payment_panel">
      <br/>
      <h2>Cost Summary</h2>
      <%= render partial: 'total_cost_breakdown' %>
      
    </div>
    
    <div class="clear"></div>
    
    <div id="buttons_to_payment_or_edit">
      <!-- we just use the "back" action, because order has not been created yet, and we want form fields to have their values -->
      <a href="javascript:history.back()" class="button hydro_big_button" id="back_to_edit_order" style="float:left;">&lt; EDIT ORDER</a>
      
      <!-- This uses JS hook to submit the hidden form below -->
      <a href="#" class="button hydro_big_button" id="form_handle" style="float:right;">COMPLETE ORDER &gt;</a>
    </div>
  </div>
  
    
  <%# Order params are resent to the "payment" method, to actually create the Order record (I'm not sure if there is a cleaner way to do this) %>
  <%# Maybe it's done this way to prevent Orders from being viewed via a named route /orders/1/edit, etc. %>
  <div>
    <%= form_for @order, :url => {:action => "payment"} do |f| %>
      <%= f.hidden_field :account_id%>
      <%= f.hidden_field :first_name%>
      <%= f.hidden_field :last_name %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :address2 %>
      <%= f.hidden_field :city %>
      <%= f.hidden_field :state %>
      <%= f.hidden_field :zip %>
      <%= f.hidden_field :shipping_method_id %>
      <%= f.hidden_field :billing_address %>
      <%= f.hidden_field :billing_address2 %>
      <%= f.hidden_field :billing_city %>
      <%= f.hidden_field :billing_state %>
      <%= f.hidden_field :billing_zip %>
      <%= f.hidden_field :credit_card_number %>
      <%= f.hidden_field :cc_expiry_month %>
      <%= f.hidden_field :cc_expiry_year %>
      <%= f.hidden_field :ccv_number %>
      <%= f.hidden_field :invoice_number %>
      <%= f.hidden_field :status %>
      <%= f.hidden_field :total_amount, {:value => total_including_tax_and_shipping(@order, current_cart.line_items)} %>
    <% end %>
  </div>
</div>