<% provide(:meta_title, @page.meta_title) %>
<% provide(:meta_description, @page.meta_description) %>
<% provide(:meta_keywords, @page.keywords) %>
<div id="page" class="five_back">
  <div id="breadcrumb"><%= link_to "Home", root_url %> &raquo; 5% Back</div>
  <h1><div style="float:left;"><%= @page.title %></div><!--<div style="float:right;"><a class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a class="addthis_button_tweet"></a> <a class="addthis_button_google_plusone" g:plusone:size="medium"></a><a class="addthis_button_pinterest_pinit"></a></div>--></h1>
  <% if !@page.header_content.empty? %>
  <div class="header_content"><%= raw @page.header_content %><%= image_tag "https://s3.amazonaws.com/hydroflask/images/five-back-landing.png", alt: "Five Percent Back", title: "Five Percent Back", style: "float:right;" %>
</div>
  <% end %>
  <div class="main_content left_content" style="margin-left:0;">
    <div class="main_content_inner">
      <%= raw @page.body %>
    </div>
  </div>
  <div class="right_content">
    <div class="box">
      <h3>Featured Charity</h3>
      <%= image_tag @featured_charity.logo, alt: @featured_charity.name, title: @featured_charity.name, style: 'width:100%;' %>
    </div>
    <div class="box">
      <h3>All Charities</h3>
      <ul>
        <%= render partial: 'charities/charity', collection: Charity.all %>
      </ul>
    </div>
    <a href="/donate">
      <div id="donate_button" class="div_button">
        <div class="button_wrapper"> DONATE &raquo; </div>
      </div>
    </a>
  </div>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51d8b57643b8a401"></script>
