<div class="cart_item">
	<%= link_to image_tag("products/default.png", alt: item.product.name, title: item.product.name), item.product %></td>
	<div class="cart_item_info"><%= link_to item.product.name, item.product %><br>
	  <% item.line_item_options.each do |option| %>
	  <%= option.option_name %><br />
	  <% end %>
	  <%= number_to_currency item.product.price %>
	  Qty: <%= item.quantity %>
	</div>
</div>