<div class="cart_item">
	<%= link_to image_tag("#{item.product_image.path}small/#{item.product_image.name}", alt: item.product.name, title: item.product.name), item.product %></td>
	<div class="cart_item_info"><%= link_to item.product.short_name, item.product %><br>
	  <% item.line_item_options.each do |option| %>
	  <%= option.option_name %><br />
	  <% end %>
	  <%= number_to_currency item.product_price %>
	  Qty: <%= item.quantity %>
	</div>
</div>
