<div id="cart_page">
  <h1>My Cart</h1>
  <p><%= link_to "&laquo; Continue shopping".html_safe, shop_path %></p>
  <% if @cart.line_items.empty? %>
  <p>You have no items in your cart.</p>
  <% else  %>
  <table id="cart_table">
    <thead>
      <tr><th>&nbsp;</th><th>Product</th><th>Price</th><th class="center">Quantity</th><th>Subtotal</th><th>Actions</th></tr>
    </thead>
    <tbody>
    <% 
    x = 1
    @cart.line_items.each do |item| %>
      <tr>
        <td class="center"><%= link_to image_tag("#{item.product_image.path}small/#{item.product_image.name}", alt: item.product.name, title: item.product.name), item.product %></td>
      	<td>
          <%= link_to item.product.name, item.product %><br />
          <% item.line_item_options.each do |option| %>
          <%= option.option_type %>: <%= option.option_name %><br />
          <% end %>
        </td>
      	<td><%= number_to_currency item.product_price %></td>
      	<td class="center"><input type="text" class="quantity" item="<%= item.id %>" name="quantity[<%= x %>]" value="<%= item.quantity %>" style="width:40px;text-align:center;padding:0;" /><div class="update"></div></td>
        <td class="item_subtotal"><%= number_to_currency item.product_subtotal %></td>
        <td><%= link_to "Remove", item, method: :delete %></td>
      </tr>
    <% 
      x += 1
    end %>
    <tr>
      <td style="text-align:right;" colspan="4">Subtotal:</td>
      <td id="cart_subtotal"><%= number_to_currency @cart.subtotal %></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
  </table>
  <div id="customers_bought">
    <h2>Customers Also Bought</h2>
      <%= render partial: 'cart_related_products/related_product', collection: CartRelatedProduct.related_products %>
  </div>
  <div id="cart_right_box">
    <%= render partial: 'shipping' %>
    <div id="promo" class="right_box">
      <p id="promo_text"><label for="promo_code">Do you have a promo code?</label></p>
      <form method="get" style="text-align:right;">
        <input type="text" style="width:75px;height:33px;vertical-align:middle;" name="promo_code" id="promo_code">
        <input type="submit" value="Apply" class="button" style="vertical-align:middle;" id="apply_promo">
      </form>
    </div>
    <div id="checkout" class="content_box">
      <div class="checkout_wrapper">
        CONTINUE TO CHECKOUT &raquo;
      </div>
    </div>
  </div>
  <% end %>
</div>
