<div id="cart_page">
  <h1>My Cart</h1>
  <% if @cart.line_items.empty? %>
  <p>You have no items in your cart.</p>
  <p><%= link_to "Continue shopping", shop_path %></p>
  <% else  %>
  <table id="cart_table">
    <thead>
      <tr><th>&nbsp;</th><th>Product</th><th>Options</th><th>Price</th><th class="center">Quantity</th><th>Actions</th></tr>
    </thead>
    <tbody>
    <% 
    x = 1
    @cart.line_items.each do |item| %>
      <tr>
        <td class="center"><%= link_to image_tag("#{item.product_image.path}small/#{item.product_image.name}", alt: item.product.name, title: item.product.name), item.product %></td>
      	<td><%= link_to item.product.name, item.product %></td>
      	<td>
          <% item.line_item_options.each do |option| %>
          <%= option.option_name %><br />
          <% end %>
        </td>
      	<td><%= number_to_currency item.product.price %></td>
      	<td class="center"><input type="text" name="quantity[<%= x %>]" value="<%= item.quantity %>" style="width:30px;text-align:center;padding:0;" /></td>
        <td><%= link_to "Remove", item, method: :delete %></td>
      </tr>
    <% 
      x += 1
    end %>
  </tbody>
  </table>
  <div id="customers_bought">
    <h2>Customers Also Bought</h2>
      <%= render partial: 'cart_related_products/related_product', collection: CartRelatedProduct.related_products %>
  </div>
  <div id="cart_right_box">
    <%= render partial: 'shipping' %>
    <!--<div id="promo" class="right_box">
      <div id="promo_text"><label for="promo">Promo Code?</label></div>
      <div style="float:right;"><input type="text" name="promo"></div>
    </div>-->
    <div id="checkout" class="content_box">
      <div class="checkout_wrapper">
        CONTINUE TO CHECKOUT &raquo;
      </div>
    </div>
  </div>
  <% end %>
</div>
