<div id="cart_page">
  <h1>My Cart</h1>
  <table id="cart_table">
    <thead>
      <tr><th></th><th>Product</th><th>Options</th><th>Price</th><th class="center">Quantity</th><th>Actions</th></tr>
    </thead>
    <tbody>
    <% @cart.line_items.each do |item| %>
      <tr>
        <td class="center"><%= link_to image_tag("#{item.product_image.path}#{item.product_image.name}", alt: item.product.name, title: item.product.name), item.product %></td>
      	<td><%= link_to item.product.name, item.product %></td>
      	<td>
          <% item.line_item_options.each do |option| %>
          <%= option.option_name %><br />
          <% end %>
        </td>
      	<td><%= number_to_currency item.product.price %></td>
      	<td class="center"><%= item.quantity %></td>
        <td><%= link_to "Remove", item, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
  </table>
  <div id="customers_bought">
    <h2>Customers Also Bought</h2>
      <%= render partial: 'cart_related_products/related_product', collection: CartRelatedProduct.related_products %>
  </div>
  <div id="cart_right_box">
    <div id="shipping" class="right_box">
      <div id="shipping_text"><label for="shipping">Shipping:</label></div>
      <div style="float:right;">
				<% selected_shipping_id = @cart.shipping.id if @cart.shipping %>
        <%Shipping.all.each do |s|%>
          <input type="radio" name="shipping" value="<%= s.id %>" <%= "#{(selected_shipping_id == s.id) ? 'checked=checked' : ''}" %>> <%= s.display_text%><br />
        <%end%>
      </div>
    </div>
    <div id="promo" class="right_box">
      <div id="promo_text"><label for="promo">Promo Code?</label></div>
      <div style="float:right;"><input type="text" name="promo"></div>
    </div>
    <div id="checkout" class="content_box">
      <div class="checkout_wrapper">
        CONTINUE TO CHECKOUT &raquo;
      </div>
    </div>
  </div>
</div>