<div class="page ambassadors">
  <h1>Hydro Flask Ambassadors</h1>
  <div class="main_content_inner">
    <%= raw @page.body %>
  </div>
  <ul class="ambassador">
  <% 
    x = 1 
    @ambassadors.each do |ambassador| 
    %>
    <li class="amblandingthumb ambparent <% if x == 4 or x == 5 or x == 6 %>right<% end %>">
      <%= image_tag ambassador.image_path.sub!(/(.*)\.(.*)/, '\1-title.\2'), alt: ambassador.last_name, title: ambassador.last_name %>
      <div class="ambpop">
        <div>
          <div class="ambpopclose"></div>
          <h2><%= ambassador.first_name  %> <%= ambassador.last_name  %></h2>
        </div>
        <%= image_tag ambassador.image_path.sub!('-title.', '.'), alt: ambassador.last_name, title: ambassador.last_name, style: 'float:right; margin: 0 0 1em 1em;' %>
        <%= raw ambassador.bio %>
        <div class="ambpoparrow"></div>
      </div>
    </li>
  <% 
  x = x + 1
  if x == 7
    x = 1
  end
  end %>
  </ul>
</div>
<%= javascript_include_tag "prototype" %>
<%= javascript_include_tag "scriptaculous" %>
<%= javascript_include_tag "effects" %>
<%= javascript_include_tag "ambassador" %>
<script>
$j = jQuery.noConflict();
$j(document).ready(function() {
  ambassadorLanding();
} );
</script>
