<div id="category_content">
  <h1>SHOP</h1>
  <div id="breadcrumb"><%= link_to "Home", root_url %> &raquo; Shop</div>
  <% @categories.each do |category| %>
      <% if category.products.exists? %>
        <h2><%= category.name %></h2>
        <div class="category_row">
          <% category.products.each do |product| %>
            <div class="category_product">
              <div class="product_wrapper">
                <div class="image"><%= link_to image_tag("products/default.jpg", alt: product.name, title: product.name), product_path(product) %></div>
                <h3><%= link_to product.name, product_path(product) %></h3>
                <div class="content_wrapper">
                  <div class="price"><%= number_to_currency product.price %></div>
                  <div class="rating"><%= image_tag 'stars_5.png', alt: 'star rating', title: 'star rating' %></div>
                </div>
                <div class="colors">
                  <% product.product_colors.each do |val| %>
                  <%= val %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
  <% end %>
</div>