<html>
  <body>
    <style>
      
      #checkout_page {
        font-size: 12px;
      }

      #checkout_page .cart_item {
        margin-bottom: 20px;
      }

      #checkout_page .label {
        font-weight:bold;
      }

    </style>
    <div id="checkout_page">
    	<h3>Thank you for your purchase from Hydro Flask! Here is a copy of your receipt for your records.</h3>
      <h3>Order #: <%= @order.invoice_number %></h3>
      <h3>Your Items</h3>
      <% @order.line_items.each do |item| %>
      <div class="cart_item">
          <b><%= item.product.short_name %></b><br>
          <% item.line_item_options.each do |option| %>
          <%= option.option_name %><br />
          <% end %>
          <%= number_to_currency item.product_price %>
          Qty: <%= item.quantity %>
      </div>
      <% end %>
      <div id="payment_panel" style="margin-bottom:20px;margin-top:20px;">
        <span class="label">Shipping: </span><%= number_to_currency(@order.shipping_cost) %><br>
        <span class="label">Tax: </span><%= number_to_currency(@order.tax) %></span><br>
        <span class="label">Total: </span><%= number_to_currency(@order.payment_total_cost) %>
      </div>
      <div class="confirm_shipping" style="margin-bottom:20px;">
        <h3>Shipping Info</h3>
        <span class="label">First name:</span>
        <%= @order.first_name %><br>
        <span class="label">Last name:</span>
        <%= @order.last_name %><br>
        <span class="label">Phone:</span>
        <%= @order.phone %><br>
        <% if !@order.email.empty? %>
          <span class="label">Email:</span>
          <%= @order.email %><br>
        <% end %>
        <span class="label">Address:</span>
        <%= @order.address %><br>
        <% if !@order.address2.empty? %>
          <span class="label">Address2:</span>
          <%= @order.address2 %><br>
        <% end %>
        <span class="label">City:</span>
        <%= @order.city %><br>
        <span class="label">State:</span>
        <%= @order.state %><br>
        <span class="label">Zip:</span>
        <%= @order.zip %>
      </div>
      <div class="confirm_billing">
        <h3>Billing Address</h3>
        <span class="label">Address:</span>
        <%= @order.billing_address %><br>
        <% if !@order.billing_address2.empty? %>
          <span class="label">Address 2:</span>
          <%= @order.billing_address2 %><br>
        <% end %>
        <span class="label">City:</span>
        <%= @order.billing_city %><br>
        <span class="label">State:</span>
        <%= @order.billing_state %><br>
        <span class="label">Zip:</span>
        <%= @order.billing_zip %>
      </div>
    </div>
  </body>
</html>