<%= javascript_include_tag 'products' %>
<% provide(:meta_title, @product.title) %>
<% provide(:meta_description, @product.meta_description) %>
<% provide(:meta_keywords, @product.keywords) %>
<style>
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
		background: none;
	}
	.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
		border-bottom-right-radius:0;
		border-radius:none;
		border:none;
	}

	.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
		border-top-right-radius:0;
	}

	.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
		border-top-left-radius:0;
	}

	.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
		border-bottom-left-radius:0;
	}

	.ui-spinner {
		height:30px;
	}
</style>
<div id="product">
	<div id="breadcrumb"><%= link_to "Home", root_url %> &raquo; <%= link_to "Shop", shop_url %> &raquo; <%= link_to @product.categories.first.name, @product.categories.first %> &raquo; <%= @product.short_name %></div>
	<h1><%= @product.name %></h1>
	<div id="top_content">
		<div id="image_column">
			<div class="image"><a href="/assets/clear.gif" class="jqzoom" rel='gal1'  title="<%= @product.short_name %>" ><%= image_tag "clear.gif", alt: @product.name, title: @product.name, style: 'width:90%;', id: 'product_image' %></a><div id="loadingImage"><%= image_tag "ajax-loader.gif", class: "loading_image", id: "loading_image", alt: "loading" %></div></div>
			<!--<div id="enlarge">
				<a href="#" id="enlarge_link">
					<%#= image_tag 'enlarge.png', alt: 'view larger', title: 'view larger' %> view larger
				</a>
			</div>-->
		</div>
		<div id="product_content_column">
			<div id="product_content_wrapper">
				<div id="top_content_wrapper">
					<%= form_tag( { controller: 'line_items', action: 'create' }, method:'post', id: 'product_form') do %>
						<input type="hidden" name="product_id" id="product_id" value="<%= @product.id %>">
						<input type="hidden" name="product_price" id="product_price" value="<%= @product.price %>">
						<div id="options" class="content_box<% if @product.sorted_options.length == 0 %> no_options<% end %>">
							<div id="option_main_header"><% if @product.sorted_options.length > 0 %>Select <%= @product.sorted_options[0][0].name %>: <span class="option_text"><%= @product.sorted_options[0][1][0].name %></span><% end %></div>
							<div class="content_box_wrapper">
								<%= render partial: 'option', collection: @product.sorted_options %>
								<div id="quantity_div">
									<div class="option_header">Quantity: <span class="option_text" id="quantity_text">1</span></div>
									<div id="quantity_input"><input name="quantity" id="quantity" type="text" value="1"></div>
									<p id="price"><span id="price_text">Price:</span><span id="price_value"><%= number_to_currency @product.price %></span></p>
								</div>
							</div>
						</div>
						<div id="cart_content" <% if @product.sorted_options.length == 0 %>class="no_options"<% end %>>
							<div id="top_right_wrapper">
								<div id="cart" class="content_box">
									<div class="cart_wrapper">
										Add to Cart <%= image_tag 'cart_white.png', alt: 'Add to cart', title: 'Add to cart' %>
									</div>
								</div>
								<div id="rating" class="content_box">
									<div class="content_box_wrapper">
										<h3><%= image_tag 'review.png', alt: 'Reviews', title: 'Reviews' %> Reviews <%= image_tag "stars_#{@product.rating}.png", alt: 'stars', title: 'stars', id: 'stars' %></h3>
										<ul id="review_nav_list">
											<li display="reviews">Read all reviews</li>
											<li>|</li>
											<li display="review_form">Write a review</li>
										</ul>
									</div>
								</div>
								<div id="social" class="content_box">
									<div class="content_box_wrapper">
										<h3>Share:</h3>
										<div class="addthis_toolbox addthis_default_style">
											<div class="row">
												<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
												<a class="addthis_button_tweet"></a>
											</div>
											<div class="row">
												<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
												<a class="addthis_button_pinterest_pinit"></a>
											</div>
										</div>
										<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-51d8b57643b8a401"></script>
									</div>
								</div>
							</div>
						</div>
					<% end %>
				</div>
				<div id="content_nav">
					<ul id="content_nav_list">
						<li id="description_li" class="selected" display="description">Description</li>
						<li id="reviews_li" display="reviews">Reviews</li>
						<li id="write_review_li" display="review_form">Write a Review</li>
					</ul>
				</div>
				<div id="description" class="content_div">
					<%= raw @product.description %>
				</div>
				<div id="reviews" class="content_div">
					<%= render partial: 'review', collection: @product_reviews %>
				</div>
				<div id="review_form" class="content_div">
					<%= render :partial => 'reviews/form', :locals => {review: @new_review, product_id: @product.id}%>
				</div>
			</div>
		</div>
	</div>
	<div id="related_products">
		<div id="related_products_header" class="content_box">
			<div class="cart_wrapper">You Might Also Be Interested In</div>
		</div>
		<div class="related_products">
			<% the_related_products = @product.products.empty? ? Product.default_featured_products : @product.products %>
			<%= render partial: 'related_product', collection: the_related_products %>
		</div>
	</div>
</div>
