<p id="notice"><%= notice %></p>

<p>
  <strong>Permalink:</strong>
  <%= @social.permalink %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @social.avatar %>
</p>

<p>
  <strong>Article date:</strong>
  <%= @social.article_date %>
</p>

<p>
  <strong>Active date:</strong>
  <%= @social.active_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @social.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @social.author %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @social.thumbnail %>
</p>

<p>
  <strong>Shortlink:</strong>
  <%= @social.shortlink %>
</p>

<p>
  <strong>Description:</strong>
  <%= @social.description %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @social.quote %>
</p>

<p>
  <strong>Video:</strong>
  <%= @social.video %>
</p>

<p>
  <strong>Image caption:</strong>
  <%= @social.image_caption %>
</p>

<%= link_to 'Edit', edit_social_path(@social) %> |
<%= link_to 'Back', socials_path %>
