<header>
	<div class="wrapper<% if current_page? root_url %> home_wrapper no-background<% end %>">
		<div id="headerWrapper">
			<div id="logo" style="height:90px;">
				<%= link_to image_tag("hydroflask_logo.png", alt: "Hydro Flask", style: "margin-top:-10px;"), root_url %>
			</div>
			<nav id="homepage-nav">
				<ul>
					<li><%= link_to "SHOP", shop_path %>
						<ul>
							<%= render partial: 'layouts/category', collection: header_categories, locals: { total: header_categories.count } %>
						</ul>
					</li>
					<li><%= link_to "HYDRO FLASK", page_path('about-hydro-flask') %>
						<ul class="hydro_subnav">
							<li class="nav_column">
								<ul class="nav_category">
									<li><%= link_to "About", page_path('about-hydro-flask') %></li>
									<li><%= link_to "Technology", page_path('hydro-flask-technology') %></li>
									<li><%= link_to "Press", "http://www.hydroflask.com/media/hf-media-library/press.html" %></li>
									<li><%= link_to "Ambassadors", ambassador_path('') %></li>
									<li><%= link_to "Store Locator", store_path('') %></li>
									<li><%= link_to "FAQs", page_path('frequently-asked-questions') %></li>
									<li><%= link_to "Shipping & Handling", page_path('shipping-and-handling') %></li>
									<li><%= link_to "Caring for your Hydro Flask", page_path('caring-for-your-hydro-flask') %></li>
									<!--<li><%= link_to "Gift Certificates", page_path('gift-certificates') %></li>-->
								</ul>
							</li>
							<li class="nav_column_right">
								<ul class="nav_category">
									<li><%= link_to "Lifetime Warranty", page_path('lifetime-warranty') %></li>
									<li><%= link_to "Returns", page_path('returns') %></li>
									<li><%= link_to "Brand Protection", page_path('brand-protection') %></li>
									<!--<li><%= link_to "Pro Deal", page_path('pro-deal') %></li>-->
									<!--<li><%= link_to "Donations", donation_path('new') %></li>
									<li><%= link_to "Sponsorships", page_path('sponsorships') %></li>
									<li><%= link_to "Reseller Information", page_path('reseller-information') %></li>-->
									<li><%= link_to "Careers", page_path('careers') %></li>
									<li><%= link_to "Contact Us", page_path('contact-hydro-flask') %></li>
									<li><%= link_to "Terms & Privacy", page_path('terms-and-privacy') %></li>
								</ul>
							</li>
						</ul>
					</li>
					<li><%= link_to "SOCIAL", page_path('hydro-flask-social') %></li>
					<li><%= link_to "5% BACK", page_path("5-back") %></li>
					<li><%= link_to "CONTACT", page_path("contact-hydro-flask") %></li>
					<li>|</li>
					<% if current_account.present? %>
						<li><%= link_to "MY ACCOUNT", account_path(current_account.id) %>
							<ul style="width:65px;height: 50px;">
								<% if current_account.their_role == 'super_user' %><li><%= link_to "Admin", '/admin' %></li><% end %>
								<li><%= link_to "Sign Out", destroy_account_session_path, :method => :delete %></li>
							</ul>
						</li>
					<%else%>
						<li><%= link_to "SIGN IN", new_account_session_url %></li>
					<%end%>
					<li><%= link_to "CART (#{items_in_cart})", mycart_path, class: "primary-color" %><div id="cart-img"></div></a></li>
				</ul>
			</nav>
			<% if current_page? root_url %>
				<!--<div class='clear'></div>-->
				<div id="root_flash_wrapper" class="wrapper">
          <div id="contentWrapper">
				    <%= render partial: "shared/show_flash_messages", flash: flash %>
				  </div>
        </div>
			<% end %>
		</div>
	</div>
</header>