<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:meta_title)) %></title>
    <meta name="description" content="<%= yield(:meta_description) %>" />
    <meta name="keywords" content="<%= yield(:meta_keywords) %>" />
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
		<%# Can't do it this way -- asset pipeline blows up on mising .js files %>
    <%#= javascript_include_tag "application", controller_name %>
    <%= csrf_meta_tags %>
  </head>
  <body>
      <%= render 'layouts/header' %>
			<% if current_page? root_url %>			
        <%= yield %>
      <% else %>
        <div id="body_wrapper" class="wrapper">
          <div id="contentWrapper">
						<%= render partial: "shared/show_flash_messages", flash: flash %>
            <%= yield %>
          </div>
        </div>
      <% end %>
    	<%= render 'layouts/footer' %>
  </body>
</html>