<h1>My Account</h1>
<p id="notice"><%= notice %></p>
<p>
  <b>First name:</b>
  <%= @account.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @account.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @account.email %>
</p>
<%= link_to 'Edit Contact Info', edit_account_path(@account) %>

<h2 style="margin-top:40px;">Your Orders</h2>
<% if @orders.blank? %>
<p>You currently have no orders</p>
<% else %>
  <%= render :partial => 'orders/list_of_orders' %>
<% end %>